:root{
  --ifm-color-primary-lightest: #3CB571;
  --ifm-color-primary-lighter: #35A064;
  --ifm-color-primary-light: #339960;
  --ifm-color-primary: #2E8B57;
  --ifm-color-primary-dark: #297D4E;
  --ifm-color-primary-darker: #27764A;
  --ifm-color-primary-darkest: #20613D;
}
